In [0]:
import pandas as pd
import numpy as np

In [0]:
Link to data: https://archive.ics.uci.edu/ml/machine-learning-databases/00232/

In [0]:
frame_rating = pd.read_csv('rating_final.csv')
frame_cuisine = pd.read_csv('chefmozcuisine.csv')

In [9]:
frame_rating.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [11]:
#Recmenframe_cuisine.head(5)

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [0]:
#re

df1 = pd.DataFrame(frame_rating.groupby('placeID')['rating'].count())
cuisine = df1.sort_values('rating',ascending = False ).head()

In [31]:
most_rated_places = pd.DataFrame([135085,132825,135032,135052,132834], index = np.arange(5), columns =['placeID'])
summary = pd.merge(most_rated_places, frame_cuisine, on = 'placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [32]:
frame_cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object